# Share Test Reports

Once you’ve tested your scripts, you may want to create and share your reports of previous test runs with your team. This section will cover creating and sharing detailed test reports with others.

**There are three ways to share a report:**

* Share a Link
* Share Embed
* Download the Test Report

### View Previous Test Runs

First, click the **Runs** pane in the UIlicious Editor.

There are two ways to view all previous Test Runs: **panel view** or **list view**.

This guide will focus on using the **panel view** to view previous test runs and create our test report.

![](https://res.cloudinary.com/di7y5b6ed/image/upload/v1649890487/ui-licious/Share%20Reports/ShareReports-1.png)

In the **Runs** pane, you are able to narrow down the list of tests available to you by selecting the **Status**, **Test**, **Date Range**, **Browser**, **Resolution**, and **Trigger**.

![](https://res.cloudinary.com/di7y5b6ed/image/upload/v1649893747/ui-licious/Share%20Reports/ShareaReport-7.png)

**Triggers** indicates if the Test Run was Manual (run by you in the Editor), Job (scheduled), or CLI (produced via the Command Line Interface).

![](https://res.cloudinary.com/di7y5b6ed/image/upload/v1649891200/ui-licious/Share%20Reports/shareReport-2.gif)

Click the Test Run you would like to share. If you do not see the test, use the scroll to see further down.

### Share Link or Embed Code

To share, click the **Share** button at the bottom right corner.

![](https://res.cloudinary.com/di7y5b6ed/image/upload/v1649891960/ui-licious/Share%20Reports/ShareReport-3.png)

You can **copy and send the link** of a test to your team, so they can see the different stages of the test.

![](https://res.cloudinary.com/di7y5b6ed/image/upload/v1651173440/ui-licious/Share%20Reports/ShareAReport-4.png)

Or, you can share the embed by **copying the Embed Code** and pasting it to a web page or your ticketing software.



### Download Test Report

To generate and download a detailed test report to share with others, click the **Download** button to reveal more options.

Then, click the desired format.

The following _formats_ are _supported_: PDF, JPG, JSON, and CSV.

![](https://res.cloudinary.com/di7y5b6ed/image/upload/v1649893364/ui-licious/Share%20Reports/ShareaReport-6.png)
