// As fonts.googleapis.com can be very slow!!! We'll host the font files instead.
//@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Readex+Pro:wght@200;600&display=swap');

// header
@font-face {
    font-family: 'Readex Pro';
    //src: url("/v3/static/fonts/ReadexPro-VariableFont_HEXP,wght.ttf");
    src: url(@styles/fonts/ReadexPro-VariableFont_HEXP\,wght.ttf);
}

// normal text
@font-face {
    font-family: 'Noto Sans';
    src: url(@styles/fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'Noto Sans';
    src: url(@styles/fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(@styles/fonts/NotoSans-Italic.ttf);
    font-style: italic;
}

// code font face
@font-face {
    font-family: 'Fira Code';
    src: url(@styles/fonts/FiraCode-VariableFont_wght.ttf);
}

:root {
    
    // header
    --header-font-family: 'Readex Pro', 'Arial', serif;

    // normal text
    --font-family: 'Noto Sans', serif;

    // code
    --font-family-code: 'Fira Code', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    // ui bot
    --uiChatBot-font-family: 'Noto Sans', serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    font-weight: bold;
}

// inline code
code {
    display: inline-block;
    color: var(--c-inline-code-text);
    background-color: var(--c-inline-code-bg);
    padding: 2px 5px;
    border-radius: 3px;
}

// code block
$code-block-font-size: .88rem;
$code-block-line-height: 1.2rem;
div[class*="language-"] pre code {
    font-size: $code-block-font-size;
    line-height: $code-block-line-height;
}
div[class*="language-"] .highlight-lines {
    line-height: $code-block-line-height;
}
div[class*="language-"].line-numbers-mode .line-numbers .line-number {
    height: $code-block-line-height;
}